


<% if @conversation.sender_id == current_user.id || @conversation.recipient_id == current_user.id %>

<div class="post"style="margin-top:20px">
    <aside class="col-md-5">
        <h3>Send Message</h3>

  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "form-control" %>
      </div>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <div>
        <%= f.submit "Add Reply", class: "btn btn-primary" %>
      </div>
   <% end %>
</aside>
<div>


<div class="col-md-7 newsfeed">

    <% if @over_ten %>
       <%= link_to 'Show Previous', '?m=all' %>
    <% end %>


<ol class="microposts" id="messages">
    <li class="ui segment">
      <% @messages.each do |message| %>
        <% if message.body %>
          <% user = User.find(message.user_id) %>



                      <% if user.picture? %>
                            <%= link_to user do %>
                            <div class="image-cropper">
                                <%= image_tag user.picture.url, class: "gravatar-feed" if user.picture? %>
                            </div>
                            <%end%>
                            <% else %>
                                <%= link_to gravatar_for(user, size: 50), user %>
                      <% end %>


                  <span class="user">
                      <%= user.name %>
                  </span>

                  <span class="content">
                      <%= message.body %>
                  </span>

                  <span class="timestamp">
                      <%= time_ago_in_words(message.created_at) %>
                  </span>



        <% end %>
      <% end %>
  </li>
</ol>
</div>



<% else %>

<div>404 ERROR</div>

<% end %>
