


<% if @conversation.sender_id == current_user.id || @conversation.recipient_id == current_user.id %>

<section class="post"style="margin-top:20px">
    <aside class="col-md-5">
        <h3>Send Message</h3>

    <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "form-control" %>
      </div>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <div>
        <%= f.submit "Add Reply", class: "btn btn-primary" %>
      </div>
   <% end %>
</aside>
<section>




<div class="col-md-12 newsfeed">



    <% if @over_ten %>
       <%= link_to 'Show Previous', '?m=all' %>
    <% end %>

<% if @messages.any? %>
<ol class="microposts" >
    <%= will_paginate @messages %>
    <li id="micropost-123" >
      <% @messages.each do |message| %>
        <% if message.body %>
          <% user = User.find(message.user_id) %>
                <% if user.picture? %>
                    <%= link_to user do %>
                    <div class="image-cropper">
                        <%= image_tag user.picture.url, class: "gravatar-feed" if user.picture? %>
                    </div>
                    <%end%>
                    <% else %>
                        <%= link_to gravatar_for(user, size: 50), user %>
                <% end %>
                <span class="user">
                    <%=link_to user.name, user %>
                </span>
                <div>
                    <span class="content">
                        <%= message.body %>
                    </span>
                </div>

                  <span class="timestamp">
                      <%= time_ago_in_words(message.created_at) %>
                      <%= link_to "view profile", user  %>
                  </span>
                  <hr/>



        <% end %>
      <% end %>

  </li>


</ol>
<%= will_paginate @messages %>
<%end%>

</div>




<% else %>

<div>404 ERROR</div>

<% end %>
