<%= form_for(@micropost) do |f|  %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>



  <label class="custom-file-upload col-md-12 col-sm-12 col-xs-12">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', :onchange => "readURL(this)" %>
        <i class="fa fa-camera" aria-hidden="true"></i> Upload Photo
  </label>

  <img id="img_prev"  />

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :content, class: 'wysihtml5'%>
  </p>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>
