
<% @micropost.comments.each do |comment| %>
<li id="micropost-<%= @micropost.id %>">
    <% if comment.user %>

    <% if @micropost.user.picture? %>

    <%= link_to @micropost.user do %>
    <div class="image-cropper"><%= image_tag @micropost.user.picture.url, class: "gravatar-feed" if @micropost.user.picture? %></div>
    <%end%>
    <% else %>
    <%= link_to gravatar_for(@micropost.user, size: 50), @micropost.user %>
    <% end %>

     <span class="user"><%= link_to @micropost.user.name, @micropost.user %></span>

     <span class="content">

           <%= comment.content %>

     </span>

      <span class="timestamp">
          <% if current_user?(comment.user) %>
            <%= link_to "delete", [comment.micropost, comment], method: :delete,
                data: { confirm: "You sure?" }, class: 'delete_post' %>

           <% end %>

      </span>
      <% end %>



</li>

<% end %>
