
<% @micropost.comments.each do |comment| %>
<li id="micropost-<%= @micropost.id %>">
    <% if comment.user %>

    <% if current_user.picture? %>

    <%= link_to current_user do %>
    <div class="image-cropper"><%= image_tag current_user.picture.url, class: "gravatar-feed" if current_user.picture? %></div>
    <%end%>
    <% else %>
    <%= link_to gravatar_for(current_user, size: 50), current_user %>
    <% end %>

     <span class="user"><%= link_to current_user.name, current_user %></span>

     <span class="content">

           <%= comment.content %>

     </span>

      <span class="timestamp">
          <% if current_user?(comment.user) %>
            <%= link_to "delete", [comment.micropost, comment], method: :delete,
                data: { confirm: "You sure?" }, class: 'delete_post' %>

           <% end %>

      </span>
      <% end %>



</li>

<% end %>
