<li id="micropost-<%= micropost.id %>">


  <% if micropost.user.picture? %>
  <%= link_to micropost.user do %>
  <%= image_tag micropost.user.picture.url, class: "gravatar" if micropost.user.picture? %>
  <%end%>
  <% else %>
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <% end %>


  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <div>
      <% if micropost.picture? %>
      <span class="content">

            <%= micropost.content %>
            <%= image_tag(micropost.picture.url, class:"img-responsive") if micropost.picture? %>
      </span>
      <% else %>
        <span class="content-text col-md-10 col-xs-9">
          <%= micropost.content %>
        </span>
      <% end %>



  </div>






  <span class="timestamp">

      <div class="row vote-count bind-<%= micropost.id %>">

            <h4 class="caret-square-up col-md-3 col-xs-5 upvote">
                <%= link_to like_micropost_path(micropost), remote: true, method: :get, class: 'vpos' do %>
                 upvote
                 <span class="vcount-<%= micropost.id %>"><%= micropost.get_upvotes.size %></span>
                <% end %>
            </h4>

            <h4 class="caret-square-down col-md-3 col-xs-5 downvote">
                <%= link_to dislike_micropost_path(micropost), remote: true, method: :get, class: 'npos' do%>
                downvote
                <span class="ncount-<%= micropost.id %>"><%= micropost.get_downvotes.size %></span>

                <% end %>
            </h4>
        </div>

    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <a><%= micropost.comments.count %></a><%= link_to ' comments', micropost, class: 'user_post_name' %>
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
